<div class="panel my">
    <div class="mx pt">
        <table class="table mb-0" ng-if="wt.cityDataList && wt.cityDataList.length > 0">
            <thead>
            <tr>
                <th style="width: 35%;"></th>
                <th class="text-center" ng-repeat="day in wt.cityDataList[0].dailyData | limitTo: 4">{{day.date}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="ms-table-row" ng-click="wt.cityDetails({name: cityData.name})" ng-repeat="cityData in wt.cityDataList">
                <td>{{ cityData.name }} <i ng-click="wt.toggleFavorite(cityData); $event.stopPropagation()" style="font-size: 2rem" class="fa-star" ng-class="wt.isFavorite(cityData) ? 'fa-solid': 'fa-regular'"></i></td>
                <td class="text-center" ng-repeat="temp in cityData.dailyData | limitTo: 4">
                    <img class="image" ng-src="{{wt.iconUrl + (temp.iconPerHour.afternoon || temp.icon)}}.png" alt="">{{temp.avgTemp}}°
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>