<h2 class="mb-4">Popular locations</h2>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 50%;">First Header</th>
                    <th ng-repeat="day in home.cityDataList[0].dailyAvgTemp | limitTo:5">{{day.date | date:'EEE d'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cityData in home.cityDataList">
                    <td>{{ cityData.name }}</td>
                    <td ng-repeat="temp in cityData.dailyAvgTemp | limitTo: 5 track by $index">{{temp.avgTemp}} °C</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
