<h1 class="mb">{{cd.cityData.name}}</h1>

<!--CURRENT TIME CARD-->
<div class="panel my" style="width: fit-content;">
    <div class="mx">
        <h1>{{ cd.cityData.currentHour}}</h1>
        <div class="fs-3 d-flex gap">
            <img class="img-fluid" ng-src="{{cd.iconUrl + cd.now.weather.icon}}@2x.png" alt="">
            <div id="now-forecast" class="d-flex gap">
                <span>&#127777 <span ng-class="{'text-primary': cd.now.temp < 0, 'text-danger': cd.now.temp >= 0}">{{ cd.now.temp }}° </span>
                    <span class="fs-6">Feels like <span ng-class="{'text-primary': cd.now.tempFelt < 0, 'text-danger': cd.now.tempFelt >= 0}">{{ cd.now.tempFelt }}°</span></span>
                </span>
                <span class="text-primary">&#128167 {{ cd.now.pop }}%</span>
                <span class="align-middle text-center text-primary">
                    {{ cd.now.rain > 0 ? '&#9730 ' + cd.now.rain + ' mm' : (cd.now.snow > 0 ? '&#10052 ' + cd.now.snow + ' mm' : '&#127746 0 mm') }}
                </span>
                <span class="align-middle text-cen ter text-success">
                    <i class="fa-solid fa-wind"></i> {{ cd.now.wind.speed }} m/s <i ng-style="{'transform': 'rotate(' + cd.now.wind.deg + 'deg)'}" class="fa-solid fa-arrow-up"></i>
                </span>
                <span>&#127749 {{ cd.cityData.sunrise }}</span>
                <span>&#127751 {{ cd.cityData.sunset }}</span>
            </div>
        </div>
    </div>
</div>

<!--DAILY TABLE-->
<div class="panel my">
    <div class="mx pt">
        <table class="table mb-0">
            <thead>
            <tr>
                <th style="width: 35%;"></th>
                <th class="text-center">Night</th>
                <th class="text-center">Morning</th>
                <th class="text-center">Afternoon</th>
                <th class="text-center">Evening</th>
                <th class="text-center">Temp min/max</th>
                <th class="text-center">Wind</th>
                <th class="text-center">Precipitation</th>
            </tr>
            </thead>
            <tbody class="ms-remove-border">
            <tr class="ms-table-row" ng-click="cd.displayDay(day.date, cd.cityData.forecastList)" ng-repeat="day in cd.cityData.dailyData">
                <td  class="align-middle">{{ day.date }}</td>
                <td class="text-center"><img class="image" ng-src="{{cd.iconUrl + day.iconPerHour.night}}.png" alt=""></td>
                <td class="text-center"><img class="image" ng-src="{{cd.iconUrl + day.iconPerHour.morning}}.png" alt=""></td>
                <td class="text-center"><img class="image" ng-src="{{cd.iconUrl + day.iconPerHour.afternoon}}.png" alt=""></td>
                <td class="text-center"><img class="image" ng-src="{{cd.iconUrl + day.iconPerHour.evening}}.png" alt=""></td>
                <td class="align-center text-center">{{ day.minTemp }}° / {{ day.maxTemp }}°</td>
                <td class="align-middle text-center">{{ day.wind[0].speed }} m/s</td>
                <td class="align-middle text-center">{{ day.sumPrecipitation > 0 ? day.sumPrecipitation.toFixed(1) + ' mm' : '-' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<day-table ng-if="cd.isActive" close-table="cd.isActive = false" forecast-list="cd.dailyForecastList"></day-table>