<div class="ms-modal ">
    <div  class="ms-modal-content panel">
        <div class="d-flex">
            <h1>{{ dt.forecastList[0].time}}</h1>
            <i role="button" ng-click="dt.closeTable()" class="fs-2 fa-solid fa-xmark"></i>
        </div>
        <table class="table mb-0">
            <thead>
            <tr>
                <th class="text-center">Hour</th>
                <th class="text-center">Weather</th>
                <th class="text-center">Temp</th>
                <th class="text-center">Felt</th>
                <th class="text-center">Humidity</th>
                <th class="text-center">Precipitation</th>
                <th class="text-center">Probability</th>
                <th class="text-center">Wind</th>
            </tr>
            </thead>
            <tbody class="ms-remove-border">
                <tr ng-repeat="forecast in dt.forecastList">
                    <td class="text-center">{{ forecast.hour}}</td>
                    <td class="text-center">
                        <img class="image" ng-src="{{ dt.iconUrl + forecast.weather.icon}}.png" alt="">
                    </td>
                    <td class="text-center">{{ forecast.temp}}°</td>
                    <td class="text-center">{{ forecast.tempFelt}}°</td>
                    <td class="text-center">{{ forecast.humidity}}%</td>
                    <td class="text-center">
                        {{ forecast.rain > 0 ? forecast.rain + ' mm' : (forecast.snow > 0 ? forecast.snow + ' mm' : '-') }}
                    </td>
                    <td class="text-center">{{ forecast.pop}}%</td>
                    <td class="text-center">
                        <i class="fa-solid fa-wind"></i> {{ forecast.wind.speed }} m/s <i ng-style="{'transform': 'rotate(' + forecast.wind.deg + 'deg)'}" class="fa-solid fa-arrow-up"></i>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>